/* for footer */
.footer-1 {
    display: flex;
    justify-content: center;
}

#nsl-logo {
    height: 70px;
    width: 90px;
    margin-top: 7px;
    margin-right: 25px;
}

.footer-distributed {
    background: #CCDBFD;
    box-shadow: 0 1px 1px 0 #ABC4FF;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px 'Playfair Display';
    padding: 50px 24px 24px 32px;
    height: 331px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 36%;
}

/* The company logo */

.footer-distributed h3 {

    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    align-items: center;
    display: flex;
    font-size: 36px;

}

.footer-distributed h3 span {
    color: #A3B18A;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin-top: 36px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.footer-distributed .footer-company-name {
    color: #1b1616;
    font-size: 14px;
    font-weight: normal;
    margin-top: 48px;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 30%;
}

.footer-distributed .footer-center i {


    font-size: 24px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    display: inline-block;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #38405c;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #344e41;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 31%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    font-family: 'Old Standard TT', serif;


}



.footer-distributed .footer-company-about span {
    display: block;
    color: #38405c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */


@media (max-width: 1024px) {


    .main {
        width: 100vw;
    }

    .main-content {
        width: 100vw;
    }

    .main-content-side {
        width: 100vw;
    }

    .slick-slide img {
        width: 116%;
        height: 66px;
    }

    .card {
        height: 200px;
    }

    .A {
        width: 182px;
        font-size: 25px;
    }

    .footer-distributed {
        height: 500px;
        margin: 0;
        padding: 30px;
        width: 100vw;
    }

    .footer-distributed .footer-left {
        width: 50%;
        padding-left: 15px;
    }

    .footer-distributed .footer-center {
        width: 49%;
        height: 276px;
        text-align: start;
        padding-left: 44px;
    }

    .footer-distributed .footer-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-distributed .footer-company-about {
        width: 700px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-distributed .footer-company-about span {
        width: 34%;
    }

    .footer-company-about {
        width: 100%;
    }

    .container_outer_img {
        width: 295px;
        height: 260PX;
    }

    .img-inner {
        width: 100%;
        height: 100%;
        margin: 0;

    }

    .container_img {
        width: 100%;

        height: 100%;
    }
}





@media (max-width:700px) {
    .nav div.logo a {
        font-size: 16px;
    }

    .footer-distributed {
        height: 105vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-distributed .footer-left {

        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        flex-direction: row-reverse;

    }



    .footer-distributed .footer-center {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-distributed .footer-right {
        width: 80%;
        text-align: center;
    }

    #nsl-logo {
        height: 77px;
        width: 97px;
        margin-top: 0;
        margin-right: 0;

    }

    .footer-distributed .footer-company-name {
        color: #1b1616;
        font-size: 11px;
        text-align: center;
        font-weight: normal;
        margin-top: 48px;
    }

    .footer-distributed .footer-company-about span {
        width: 55%;
    }

    .footer-distributed .footer-links {
        width: 100%;
        margin-top: 18px;
        padding: 0;
        text-align: center;
    }

    .footer-center div {
        width: 70%;
    }

    .footer-distributed .footer-company-about span {
        width: 55%;
    }

    .footer-distributed .footer-company-about {
        font-size: 12px;
    }
}














@media (max-width:425px) {
    .nav div.logo a {
        font-size: 16px;
    }

    .footer-distributed {
        height: 105vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .footer-distributed .footer-left {

        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        flex-direction: row-reverse;

    }



    .footer-distributed .footer-center {
        width: 80%;
        display: flex;
        height: 43%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-distributed .footer-right {
        width: 80%;
        text-align: center;
    }

    #nsl-logo {
        height: 77px;
        width: 97px;
        margin-top: 0;
        margin-right: 0;

    }

    .footer-distributed .footer-company-name {
        color: #1b1616;
        font-size: 11px;
        text-align: center;
        font-weight: normal;
        margin-top: 18px;
    }

    .footer-center div {
        width: 87%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-distributed .footer-company-about span {
        width: 55%;
    }

    .footer-distributed .footer-links {
        width: 185px;
        margin-top: 18px;
        padding: 0;
    }

    .footer-distributed .footer-company-about span {
        width: 55%;
    }

    .footer-distributed .footer-company-about {
        font-size: 12px;
    }
}